/* Your code goes here */

.example{
    padding: 50px 200px;
}

.code{
    margin-bottom: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.wrap{
    flex-flow: row wrap;
}

