body
{
    margin: 0;
    background: black;
    
}
.skewedBox
{
    background: #262626;
    color: white;
    height: 122vh;
    background: #7D41FF;
    background-image: linear-gradient(45deg, #00009a, #b300b3);
   
}
.container
{
    padding: 150px 200px;  
    transform: skew(0deg, 0deg);
}
.sec2
{
    display: block;
    float: left;
    margin-top: -13vh;
    padding: 100px;
    height: 100px;
    transform: skew(0deg, -5deg);
    background: black;
    color: white;
}
.sec2 div{
    padding: 100px;
    transform: skew(0deg, 5deg);
    
}
